<div *ngIf="movie" class="container">
    <img [src]="movie.imagePath" [alt]="movie.name"/>
  
    <div class="details">
      <div class="header">
        <span class="name">
          {{movie.name}}
        </span>
        <div class = info>
          <div class="release-year">
            {{movie.releaseYear}},
          </div>
          <div class="director">
            {{movie.director}}
          </div>
        </div>

        <div class="box-office">
          Box-office: ${{movie.boxOffice.toLocaleString('en', {useGrouping:true})}}
        </div>
        <div class="Running time">
          Run time: {{movie.runningTime}} minutes
        </div>
      </div>  
    </div>
  </div>

  <div class="comments">
    <app-comments></app-comments>
  </div>