<div class="comments">
  <div class="comments-title">
    Comments
  </div>
  <div class="comment-form-disabled" *ngIf="!isAuth">Login to post comments.</div>
  <div class="comment-form-tile" *ngIf="isAuth">Write comment
    <app-comment-form 
      submitLabel="Write" 
      (handleSubmit)="addComment($event)"
      (handleCancel)="setActiveComment(null)"
      (setActiveComment)="setActiveComment($event)">
    </app-comment-form>
  </div>
  <div class="comments-container">
    <ul>
      <app-comment *ngFor="let comment of comments" 
        [comment]="comment" 
        [isUserAuth]="isUserAuth(comment.userId)"
        [movieId]="movieId"
        [user]="user"
        [activeComment]="activeComment"
        (setActiveComment)="setActiveComment($event)"
        (updateComment)="updateComment($event)"
        (deleteComment)="deleteComment($event)"
        >
      </app-comment>
    </ul>
  </div>
</div> 
